/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.technologies h1 {
  background-color: #0067c7;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}

.imagensTecnologias {
  text-align: center;
  margin-top: 50px;
}

#react {
  width: 120px;
  margin-right: 100px;
}

#vite {
  width: 110px;
  margin-right: 100px;
}

#figma {
  width: 70px;
  margin-right: 100px;
}

#next {
  width: 100px;
  margin-right: 100px;
}

#fastapi {
  width: 100px;
}