.containerTeam {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.containerTeam h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.fotos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fotos .teamMember {
  position: relative;
  text-align: center;
  margin: 10px;
}

.foto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
  position: relative;
  margin: 20px;
}

.linkedinIcon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 70px; 
  height: 70px; 
}

#name {
  font-weight: bold;
  font-size: 20px;
}

#function {
  margin-top: -15px;
}
