


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

#bosch {
  width: 120px;
  margin-right: 10px;
  
}

.header h1 {
  margin: 0;
  font-weight: bold;
  color: #0067c7;
  font-size: 35px;
  margin-left: 40px;
}

.degrade-header {
  display: flex;
  max-width: 100%;
  
}
