* {
  font-family: poppins;
}

.container1 {
  width: 35vw;
  height: 500px;
  margin-top: 50px;
}

.container1 h1 {
  color: #0067c7;
  font-weigth: bold;
  font-weight: 600;
  margin-left: 50px;
  font-size: 30px;
}

.container1 p {
  margin-left: 50px;
  font-size: 20px;
  margin-top: 30px;
}

.download {
  background-color: #0067C7 ;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 40px;
  font-size: 16px;
  margin-top: 100px;
  margin-left: 225px;
  position: relative;
}

