.download {
  background-color: #0067C7 ;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 320px;
  height: 40px;
  font-size: 20px;
  margin-top: 100px;
  margin-left: 180px;
  position: relative;

  @media(max-width:1683px){
    margin-top: 50px;
    margin-left: 70px;
  }

  @media(max-width: 1595px){
    margin-top: 20px;
  }

}


